/* สไตล์เว็บรวม */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f4f4;
    margin: 0;
    padding: 0;
}


/* สไตล์โลโก้ */
/* สไตล์โลโก้ */
.logo_main {
    width: 100px;
    height: 100px;
    margin-top: 20px; /* ระยะห่างของโลโก้จากบน */
}

/* สไตล์หัวเรื่อง */
#moved-heading {
    font-size: 28px; /* ขนาดข้อความหัวเรื่อง */
    color: #1d1919; /* สีข้อความหัวเรื่อง */
    margin-top: 10px; /* ระยะห่างของหัวเรื่องจากโลโก้หรือด้านบน */
}


/* สไตล์ฟอร์มล็อกอิน */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* สไตล์ป้ายชื่อและช่องข้อมูล */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* สไตล์ปุ่มเข้าสู่ระบบ */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* สไตล์ข้อความข้อผิดพลาด */
.error {
    color: red;
    margin-top: 10px;
}

/* สไตล์ข้อความเรื่องหัวข้อ */
h1 {
    font-size: 24px;
    color: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid red ;
}
nav {
    background: #ff0000;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin-left: 1rem;
}
a {
    color: #fff;
    text-decoration: none;
}
.logo a {
    font-size: 1.5rem;
}
@media screen and (max-width: 360px) {
    .logo {
        margin-bottom: 1.5rem;
    }

    .nav-con {
        padding: 3rem 0;
        flex-direction: column;
        height: auto;
    }

    .menu {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .menu li {
        padding: 1rem 0;
        margin-left: 0;
        transition: 0.5s;
    }

    .menu li:hover {
        background: #1d1919;
    }
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }