/* สไตล์เว็บรวม */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f4f4;
    margin: 0;
    padding: 0;
}

/* สไตล์โลโก้ */
/* สไตล์โลโก้ */
.logo_main {
    width: 100px;
    height: 100px;
    margin-top: 20px; /* ระยะห่างของโลโก้จากบน */
}

/* สไตล์หัวเรื่อง */
#moved-heading {
    font-size: 28px; /* ขนาดข้อความหัวเรื่อง */
    color: #1d1919; /* สีข้อความหัวเรื่อง */
    margin-top: 10px; /* ระยะห่างของหัวเรื่องจากโลโก้หรือด้านบน */
}


/* สไตล์ฟอร์มล็อกอิน */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* สไตล์ป้ายชื่อและช่องข้อมูล */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* สไตล์ปุ่มเข้าสู่ระบบ */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* สไตล์ข้อความข้อผิดพลาด */
.error {
    color: red;
    margin-top: 10px;
}

/* สไตล์ข้อความเรื่องหัวข้อ */
h1 {
    font-size: 24px;
    color: #007bff;
}


.cat-image1 {
    width: 300px;
    height: 200px;
    margin: 10px 0px 0px 0px; /* บน ขวา ล่าง ซ้าย */   
}
.cat-image2 {
    width: 300px;
    height: 200px;
    margin: 10px 700px 0px 0px; /* บน ขวา ล่าง ซ้าย */
}
.cat-image3 {
    width: 300px;
    height: 200px;
    margin: 10px 0px 100px 700px; /* บน ขวา ล่าง ซ้าย */  
}
#cat-heading1 {
    font-size: 28px; /* ขนาดข้อความหัวเรื่อง */
    color: #0fc70f; /* สีข้อความหัวเรื่อง */
    margin: 10px 0px 0px 0px; /* บน ขวา ล่าง ซ้าย */
}
#cat-heading2 {
    font-size: 28px; /* ขนาดข้อความหัวเรื่อง */
    color: #628675; /* สีข้อความหัวเรื่อง */
    margin: 100px 700px 0px 0px; /* บน ขวา ล่าง ซ้าย */
}
#cat-heading3 {
    font-size: 28px; /* ขนาดข้อความหัวเรื่อง */
    color: #c70fb8; /* สีข้อความหัวเรื่อง */
    margin: -250px 0px 0px 700px; /* บน ขวา ล่าง ซ้าย */
}
